@model TodoWeb.TodoVM.ProjectVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    Random random = new Random();
}

<div class="container mt-5 pt-5">
    <div class="page-title">
        <h2 class="m-0">Project</h2>
        <p class="m-0">You have <span>@Model.Projects.Count</span> Projects</p>
    </div>
    <hr/>
    <div class="project-container my-4">
        @foreach (var proj in Model.Projects)
        {
            var otherPar = proj.Participants.Count - 3;
            var colorClass = $"color-palette-{random.Next(1, 5)}";
            <a asp-route="projectTask" asp-route-projectId="@proj.ProjectId" class="project-card rounded-5 p-4 card d-flex flex-column @colorClass">
                <div class="d-flex justify-content-between">
                    <h5 class="">@proj.ProjectName</h5>
                    <div class=""><i class="bi bi-three-dots"></i></div>
                </div>
                <div class="mt-auto d-flex justify-content-between align-content-center">
                    <div class="profile-container d-flex">
                        @for(int i = 0; i < 3; i++)
                        {
                            var participant = proj.Participants.ElementAt(i);

                            <div class="profile-avatar" onmouseover="hoveredInfo(this)" onmouseout="hiddenInfo(this)">
                                <img src="@(participant.User.ProfilePhotoPath == null ? "/images/profile-icon.png" : participant.User.ProfilePhotoPath)" alt="Alternate Text" />
                            </div>
                            <div class="avatar-tooltip py-1 px-2">
                                <p class="m-0">@participant.User.Name</p>
                            </div>
                        }
                        @if(otherPar != 0)
                        {
                            <div class="other-participant" onmouseover="hoveredInfo(this)" onmouseout="hiddenInfo(this)">
                                <p class="m-0">+@otherPar</p>
                            </div>
                        }
                    </div>
                    <div class="project-date">
                        <i class="bi bi-calendar2"></i>
                        <p class="m-0">@proj.DueDate.ToString("MMM y")</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<script>
    function hoveredInfo(element) {
        element.nextElementSibling.style.display = "block";
    }
    function hiddenInfo(element) {
        element.nextElementSibling.style.display = "none";
    }
</script>

